p {
  font-size: 0.8em !important;
}
h4 h6{
  font-weight: bold;
}
html{
  font-family: Roboto;
}

.container-fluid{
  left: 0%;
  right: 0%;
}
div {
  text-align: center;
}


div#welcome {
  background-image: url("../images/assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  width: 1920;
  height: 45em;
}
/* positioning, from Faith */
#mouse-icon{
  position: relative;
  top: 10.9em;
}


#small-icon {
  width: 5%;
  margin-top: 18%;
}
/* previous #small-icon style*/
/* #smaller-icon{
  width: 1%;
  margin-top: 8%;
}  */

.social-icons{
  height: 4em;
  margin: 1em;
}

div#services {
  background-image: url("../images/assets/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 17em;
  padding-top: 4em;
}

div#contact-us {
  background-image: url("../images/assets/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 25em;
  padding-top: 2%;
}
div#contact> h4{
  padding-bottom: 3%;
}
div#what-we-do {
  margin-bottom: 5%;
  margin-top: 3%;
}

.col-sm-3 {
  padding-bottom: 3%;
}
.col-sm-4{
  height: 2em;
  border:white solid 1px;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: auto;
}
.col-sm-5{
  height: 2em;
  border: white solid 1px;
  margin-bottom: 2em;
  margin-left: auto;
}
.col-sm-9{
  height:13em;
  padding-left: 5%;
  padding-right: 5%;
  border: white solid 1px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.description{
  display:none;
}
.input{
  opacity: 0.99;
  background: none;
}

::placeholder { 
  color: white;
  opacity: 0.91;
}